@use "../utilities/mixins" as *;
@use "../utilities/variables" as *;

footer{
    background-color: $color-fondo;
    font-family: "Slabo 13px", serif;
    font-weight: 300;
    font-style: normal;
    color: $color-letras;
    border: $bordes;
    text-align: center;
    ul{
        li{
            list-style: none;
        }
    }
}