@use "../utilities/variables" as *;


body{
    background-color: $color-fondo;
}

body::selection{
    background-color: $color-pseudo;
}

.inicio{
    background-image:url(../imagenes/camion.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size:cover;
    height: 450px;  
}

.destinos{
    list-style-position: inside;
}
.destinos ::marker{
    content: "🚛";
}
