@charset "UTF-8";
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  max-width: 100vw;
}

/*-----------VARIABLES------------*/
/*--------COLORES---------*/
/*------BORDES------*/
body {
  background-color: #000000;
}

body::selection {
  background-color: #1aaf1a;
}

.inicio {
  background-image: url(../imagenes/camion.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 450px;
}

.destinos {
  list-style-position: inside;
}

.destinos ::marker {
  content: "🚛";
}

/*------Mixin------*/
header {
  background-color: #000000;
  font-size: 10px;
  font-family: "Slabo 13px", serif;
  font-weight: 300;
  font-style: normal;
}
header .logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #989398;
  height: 120px;
}
header h1 {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 1;
  font-style: oblique;
  font-size: 10px;
}
header img {
  width: 50px;
}

.navegador ul {
  list-style: none;
}
.navegador a {
  font-size: 15px;
  color: #989398;
}

main {
  color: #989398;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
main p {
  font-size: 20px;
}

.main-sobre-nosotros section {
  color: #989398;
  align-items: center;
  text-align: center;
}

.main-proyectos {
  height: 800px;
  font-size: 20px;
  text-align: center;
}

.main-contacto {
  height: 500px;
}

footer {
  background-color: #000000;
  font-family: "Slabo 13px", serif;
  font-weight: 300;
  font-style: normal;
  color: #989398;
  border: 1px solid #b9c1b9;
  text-align: center;
}
footer ul li {
  list-style: none;
}

@media (min-width: 1025px) {
  .logo {
    align-items: center;
  }
  .main-sobre-nosotros {
    height: 600px;
  }
  .main-sobre-nosotros img {
    height: 300px;
    width: 300px;
    border-radius: 10px;
  }
  .main-servicios {
    height: 1000px;
  }
  .main-servicios p {
    width: 1000px;
    padding: 10px;
    height: 200px;
    font-size: 30px;
    border: 1px solid #b9c1b9;
    border-radius: 10px;
  }
  .main-servicios .nuestros-servicios {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 70px;
    font-size: 20px;
  }
  .main-servicios .nuestros-servicios img {
    height: 500px;
  }
  .main-proyectos {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
  }
  .main-proyectos section {
    width: 80vw;
  }
  .main-proyectos ul li {
    list-style: none;
  }
  .articulo3 {
    height: 300px;
    text-align: left;
    border-radius: 10px;
    background-image: url(../imagenes/fondo.izq.png);
    background-position: center;
    background-size: cover;
    color: #000000;
  }
  .articulo4 {
    color: #000000;
    height: 300px;
    background-image: url(../imagenes/fondo-dere.png);
    background-position: center;
    background-size: cover;
  }
  .main-contacto {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .casilleros {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
    gap: 10px;
  }
  .mensaje {
    width: 600px;
  }
}
.boton-troll:hover {
  padding: 15px 30px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #989398;
  background-color: #1aaf1a;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  position: absolute;
  transition: all 0.2s ease;
  box-shadow: 0 4px 15px #1aaf1a;
}

.boton-troll:active {
  background-color: #1aaf1a;
  border: 5px solid;
}

.carrusel img {
  height: 150px;
  border: 1px solid #b9c1b9;
}

.imagenes img {
  height: 600px;
}

.servicio {
  height: auto;
}

.nuestros-servicios img {
  height: 360px;
}

.mapa img:hover {
  transition: 2s;
  border: 3px solid #1aaf1a;
  height: 400px;
}

.flechas ::marker {
  content: "➡️";
}

.efecto:hover {
  transition: 3s;
  box-shadow: 4px 4px 60px 0px #1aaf1a;
}

.casilleros {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.mensaje {
  height: 100px;
}

.Comunicate {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #b9c1b9;
}

/*# sourceMappingURL=styles.css.map */
