@charset "UTF-8";
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  max-width: 100vw;
  perspective: 1000px;
}

body {
  background-color: #000000;
}

body::selection {
  background-color: #1aaf1a;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
    color: aliceblue;
  }
  50% {
    background-position: 100% 50%;
    color: black;
  }
  100% {
    background-position: 0% 50%;
    color: aliceblue;
  }
}
header {
  background-color: #000000;
  font-size: 10px;
  font-family: "Slabo 13px", serif;
  font-weight: 300;
  font-style: normal;
}
header .logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #989398;
  height: 120px;
}
header h1 {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 1;
  font-style: oblique;
  font-size: 10px;
}
header img {
  width: 50px;
}

.navegador ul {
  list-style: none;
}
.navegador a {
  font-size: 15px;
  color: #989398;
}
.navegador button {
  background-color: #1aaf1a;
}

main {
  color: #989398;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  height: auto;
}
main p {
  font-size: 20px;
}

.main-sobre-nosotros section {
  color: #989398;
  align-items: center;
  text-align: center;
}

.main-proyectos {
  font-size: 20px;
  text-align: center;
}

.main-contacto {
  height: 550px;
}

footer {
  background-color: #000000;
  font-family: "Slabo 13px", serif;
  font-weight: 300;
  font-style: normal;
  color: #989398;
  border: 1px solid #b9c1b9;
  text-align: center;
}
footer ul li {
  list-style: none;
}

@media (min-width: 768px) {
  .inicio {
    height: 5000px;
  }
  .articulo3 {
    height: 300px;
    text-align: left;
    border-radius: 10px;
    background-image: url(../imagenes/fondo.izq.png);
    background-position: 750px;
    background-size: cover;
    color: #000000;
  }
  .articulo4 {
    color: #000000;
    height: 300px;
    background-image: url(../imagenes/fondo-dere.png);
    background-position: 1150px;
    background-size: cover;
  }
  .seccionsobre {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .carusel1 img {
    height: 10000px;
    width: 500px;
  }
  .carusel2 img {
    height: 200px;
    width: 150px;
  }
}
@media (min-width: 1024px) {
  .seccionsobre {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .articulo3 {
    height: 300px;
    text-align: left;
    border-radius: 10px;
    background-image: url(../imagenes/fondo.izq.png);
    background-position: center;
    background-size: cover;
    color: #000000;
  }
  .articulo4 {
    color: #000000;
    height: 300px;
    background-image: url(../imagenes/fondo-dere.png);
    background-position: center;
    background-size: cover;
  }
}
.boton-troll:hover {
  padding: 15px 30px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #989398;
  background-color: #1aaf1a;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  position: absolute;
  transition: all 0.2s ease;
  box-shadow: 0 4px 15px #1aaf1a;
}

.boton-troll:active {
  background-color: #1aaf1a;
  border: 5px solid;
}

.buscado {
  color: black;
  background: linear-gradient(270deg, #1aaf1a, #989398, #000000);
  background-size: 600%;
  animation: gradientMove 8s ease infinite;
}

.inicio {
  background-image: url(../imagenes/camion.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 450px;
}

.destinos ::marker {
  content: "🚛";
}

.destinos:hover {
  transform: translateZ(20px) scale(2);
  padding: 50px;
  transition: 0.7s ease-out;
  text-shadow: 5px 3px 2px #1aaf1a;
}

.carrusel img {
  height: 150px;
  border: 1px solid #b9c1b9;
}

.imagenes img {
  height: 600px;
}

.servicio {
  height: auto;
}

.nuestros-servicios img {
  height: 360px;
}

.mapa img:hover {
  transition: 2s;
  border: 3px solid #1aaf1a;
  height: 400px;
}

.flechas ::marker {
  content: "➡️";
}

.articulo3 {
  transform-style: preserve-3d;
}

.articulo3 h2 {
  transform: translateZ(5px);
}

.articulo3:hover {
  transform: rotatey(10deg) scale(0.8);
  transition: 3s;
  box-shadow: 4px 4px 60px 0px #1aaf1a;
}

.articulo4 {
  transform-style: preserve-3d;
}

.articulo4 h2 {
  transform: translateZ(5px);
}

.articulo4:hover {
  transform: rotatey(-10deg) scale(0.8);
  transition: 3s;
  box-shadow: 4px 4px 60px 0px #1aaf1a;
}

.casilleros {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.mensaje {
  height: 100px;
}

.Comunicate {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #b9c1b9;
}

.carusel1 img {
  height: 200px;
  width: 150px;
}

.carusel2 img {
  height: 200px;
  width: 150px;
}

/*# sourceMappingURL=styles.css.map */
